<header role="banner">
    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" routerLink="">Profile</a></li>
                    <li><a href="#" routerLink="">Post</a></li>
                    <li><a href="#" routerLink="">Comment</a></li>
                    <li><a href="#" routerLink="category">Category</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
  

  
